.wp-block-sortabrilliant-dapper-desktop {
	position: relative;
	margin: 0;

	figcaption img {
		display: inline;
	}

	&.can-resize {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&.can-resize img,
	&.in-progress img,
	&.is-transient img {
		opacity: 0.3;
	}

	.components-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -9px;
		margin-left: -9px;
	}

	.components-button {
		position: absolute;
		z-index: 1;
	}

	.progress-notice {
		position: absolute;
		z-index: 1;
		margin-top: 0;
		top: 18px;
		left: 18px;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
		color: #fff;
		font-size: 13px;
		background: rgba(0, 0, 0, 0.8);
		padding: 0 1em;
		border-radius: 36px;
	}
}
